body {
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#sky {
  z-index: -3;
  width: 100%;
  background-color: rgb(6, 123, 226);
  height: 60%;
  position: fixed;
  top: 0;
}
#snow {
  z-index: -2;
  width: 100%;
  background-color: rgb(202, 206, 210);
  height: 40%;
  position: fixed;
  bottom: 0;
}
#leves {
  position: fixed;

  width: 0;
  height: 0;
  bottom: 280;
  right: 100;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid green;
}
#trunk {
  position: fixed;
  z-index: -1;
  width: 4%;
  height: 16%;
  background-color: #6b492b;
  bottom: 150;
  right: 160;
}
#trunk2 {
  position: fixed;
  z-index: -1;
  width: 4%;
  height: 16%;
  background-color: #6b492b;
  bottom: 180;
  left: 160;
}
