body {
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: hidden;
}
h1 {
  font-size: 6em;
}
p {
  font-size: 2em;
}
.btn {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
input {
  padding: 10px;
}
a {
  padding: 10px;
  color: rosybrown;
  font-size: large;
  background: red;
}
label {
  padding: 10px;
  color: rgb(29, 4, 4);
  font-size: large;
}
button {
  padding: 10px;
  margin: 10px;
  background-color: rgb(131, 186, 234);
  color: white;
  border: none;
  cursor: pointer;
  font-size: large;
}
#sky {
  z-index: -3;
  width: 100%;
  background-color: rgb(4, 62, 112);
  height: 60%;
  position: fixed;
  top: 0;
}
#snow {
  z-index: -2;
  width: 100%;
  background-color: rgb(202, 206, 210);
  height: 40%;
  position: fixed;
  bottom: 0;
}
#leves {
  position: fixed;

  width: 0;
  height: 0;
  bottom: 280;
  right: 100;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid green;
}
#trunk {
  position: fixed;
  z-index: -1;
  width: 4%;
  height: 16%;
  background-color: #6b492b;
  bottom: 150;
  right: 160;
}
#trunk2 {
  position: fixed;
  z-index: -1;
  width: 4%;
  height: 16%;
  background-color: #6b492b;
  bottom: 180;
  left: 160;
}
